.box{
    width: 100vh;
    img{
        width: 350px;
        height: 280px;
    }
}
button{
    width: 120px;
    height: 40px;
    font-size: large;
}
.handleBtn{
    background-color: rgb(52, 160, 202);
}